body {
    height: 100vh;
    font-family: GoogleSans-Regular;
    font-size: 13px;
    margin: 0;
    color: #000000;
}

.wrap-body {
    display: flex;
    height: 100vh;
    width: 100%;
}

.wrap-right {
    height: 100%;
    width: calc(100% - 221px);
}

.select-gender {
    height: 34px;
    width: 264px;
    border-radius: 3px;
    border: 2px solid #e5e5e5;
    outline: none;
    padding-left: 16px;
}

@font-face {
    font-family: 'GoogleSans-Black';
    src: url('/content/font/GoogleSans-Black.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('/content/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('/content/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('/content/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('/content/font/GoogleSans-Thin.otf') format('opentype');
}