.field-input-icon {
    padding: 10px 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    font-family: GoogleSans-Regular;
    font-size: 13px;
    color: #000000;
}

.search-bar::placeholder {
    font-size: 12px;
    font-family: GoogleSans-Regular;
    color: #bbbbbb;
}