<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Danh sách nhân viên</title>

    <!-- Phần thư viện -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Phần dùng chung -->
    <link href="/css/common/header.css" rel="stylesheet" />
    <link href="/css/common/content.css" rel="stylesheet" />
    <link href="/css/common/main.css" rel="stylesheet" />
    <link href="/css/common/sidebar.css" rel="stylesheet" />
    <link href="/css/common/button.css" rel="stylesheet" />
    <link href="/css/common/toolbar.css" rel="stylesheet" />
    <link href="/css/common/grid.css" rel="stylesheet" />
    <link href="/css/common/paging.css" rel="stylesheet" />
    <link href="/css/common/icon.css" rel="stylesheet" />
    <link href="/css/common/align.css" rel="stylesheet" />
    <link href="/css/common/dialog.css" rel="stylesheet" />
    <!-- Phần dùng riêng từng màn hình -->
    <link href="../css/page/employee.css" rel="stylesheet" />
</head>

<body>
    <div class="wrap-body">
        <!-- Phần menu bên tay trái -->
        <div class="sidebar">

            <!-- Phần logo -->
            <div class="sidebar-logo">
                <div class="sidebar-logo-toggle">
                </div>

                <div class="sidebar-logo-cukcuk">

                </div>
            </div>

            <!-- Phần danh sách chức năng -->
            <div class="sidebar-content">
                <div class="sidebar-content-item">
                    <div class="sidebar-item-icon icon-overview-20"></div>
                    <div class="sidebar-item-text">Tổng quan</div>
                </div>

                <div class="sidebar-content-item">
                    <div class="sidebar-item-icon icon-report-20"></div>
                    <div class="sidebar-item-text">Báo cáo</div>
                </div>

                <div class="sidebar-content-item">
                    <div class="sidebar-item-icon icon-purchase-20"></div>
                    <div class="sidebar-item-text">Mua hàng</div>
                </div>

                <div class="sidebar-content-item">
                    <div class="sidebar-item-icon icon-employee-list-20"></div>
                    <div class="sidebar-item-text">Danh mục nhân viên</div>
                </div>

                <div class="sidebar-content-item">
                    <div class="sidebar-item-icon icon-setting-20"></div>
                    <div class="sidebar-item-text">Thiết lập hệ thống</div>
                </div>

            </div>
        </div>

        <!-- Phần nội dung bên phải -->
        <div class="wrap-right">
            <!-- Phần header -->
            <div class="header">
                <div class="header-left">
                    <div class="header-left-text">Nhà hàng Biển Đông</div>
                    <div class="header-left-icon"><i class="fas fa-chevron-down"></i></div>
                </div>

                <div class="header-right">
                    <div class="header-right-avatar"></div>
                    <div class="header-right-name">Đinh Ngọc Định</div>
                    <div class="header-right-option icon-option-16"></div>
                </div>
            </div>

            <!-- Phần nội dung trang -->
            <div class="content">

                <!-- Phần header content -->
                <div class="content-header">
                    <div class="content-header-text">Danh sách nhân viên</div>
                    <div class="content-header-feature">
                        <button class="m-btn-icon">
                            <div class="icon-add-16"></div>
                            <div class="btn-text">Thêm nhân viên</div>
                        </button>
                    </div>
                </div>

                <!-- Phần content -->
                <div class="content-filter-bar">
                    <div class="content-filter-left">
                        <input style="width: 260px;" class="icon-search-16 search-bar field-input-icon" type="text" placeholder="Tìm kiếm theo Mã, Tên hoặc Số điện thoại">
                    </div>

                    <div class="content-filter-right">
                        <div class="icon-refresh"></div>
                    </div>
                </div>

                <div class="content-grid employee-grid">
                    <table border="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <!-- <th class="m-align-center"><input type="checkbox" /></th> -->
                                <th fieldName="ID">Mã nhân viên</th>
                                <th fieldName="FullName">Họ và tên</th>
                                <th fieldName="Gender">Giới tính</th>
                                <th fieldName="DateOfBirth" class="m-align-center">Ngày sinh</th>
                                <th fieldName="PhoneNumber">Điện thoại</th>
                                <th fieldName="Email">Email</th>
                                <th fieldName="Position">Chức vụ</th>
                                <th fieldName="Department">Phòng ban</th>
                                <th fieldName="Salary" class="m-align-right">Mức lương cơ bản</th>
                                <th fieldName="Status">Tình trạng công việc</th>
                            </tr>
                        </thead>

                        <tbody>


                        </tbody>
                    </table>
                </div>

                <div class="content-paging-bar">
                    <div class="paging-bar-left">Hiển thị <b>1-10/1000</b> nhân viên</div>
                    <div class="paging-bar paging-bar-center">

                        <div class="paging-item-icon paging-bar-item icon-first-page">
                        </div>

                        <div class="paging-item-icon paging-bar-item icon-prev-page">
                        </div>

                        <div style="background-color: #019160;" class="paging-item-number paging-bar-item">1
                        </div>

                        <div class="paging-item-number paging-bar-item">2
                        </div>

                        <div class="paging-item-number paging-bar-item">3
                        </div>

                        <div class="paging-item-number paging-bar-item">4
                        </div>

                        <div class="paging-item-icon paging-bar-item icon-next-page">
                        </div>

                        <div class="paging-item-icon paging-bar-item icon-last-page">
                        </div>


                    </div>
                    <div><b>10</b> nhân viên/trang</div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog-detail" hidden>
        <div class="dialog-modal"></div>
        <div class="dialog-content">
            <div class="dialog-content-header">
                <div class="dialog-content-header-text">THÔNG TIN NHÂN VIÊN</div>
                <button class="dialog-content-header-icon icon-close"></button>
            </div>

            <div class="dialog-content-body">

            </div>
        </div>
    </div>

    <!-- Phần thư viện -->
    <script src="/lib/jquery-3.6.0.min.js"></script>
    <!-- Phần dùng chung -->
    <script src="/js/common/common.js"></script>
    <script src="/js/common/base.js"></script>
    <script src="/js/data.js"></script>
    <!-- Phần dùng riêng từng màn hình -->
    <script src="/js/page/employee.js"></script>
</body>

</html>